<div class="container">
  <div class="characteristics">
    <h2>Характеристики Капитана {{player.login}}</h2>
    <ul class="changeChar">
      {{#each player.charact}}
      <li>{{name}}
        <form id="{{_id}}" method="POST">
          <input type="text" placeholder="{{value}}">
          <button type="submit">Change</button>
        </form>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="items">
    <h2>Инвентарь {{player.login}}</h2>
    <ul>
      {{#each player.inventory}}
      <li id="{{_id}}"> {{name}}, weight - {{weight}}</li>
      {{/each}}

  </div>
  <div class="teamItems">
    <h2>Инвентарь команды {{players.name}}</h2>
    <ul>
      {{#each players.storage}}
      <li id="{{_id}}"> {{name}}, weight - {{weight}}</li>
      <form id="{{_id}}" method="POST">
        <input type="text" placeholder="{{value}}">
        <button type="submit">Change</button>
      </form>
      {{/each}}
    </ul>
  </div>

  <div class="logout">
    <form method="GET" action="/logout">
      <button type="submit">LogOut</button>
    </form>
  </div>
</div>
<link rel="stylesheet" href="/stylesheet/account.css">
